<!DOCTYPE html>
<html lang="en">
    <head>

        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}" />
        <link rel="icon" href="{{ url_for('static', filename='/images/kingswayfinder_logo_white.svg') }}">

        <!-- Blank space for the title to be filled in my the templates-->
        {% block title %}<title>Base.html</title>{% endblock %}


    </head>
    <body>
        <!-- Navbar section -->
        <div class = "nav">
            <img src="{{ url_for('static', filename='/images/kingswayfinder_logo_white.svg') }}" alt="Kingswayfinder logo" id = "nav_logo">
            <h1 class = "nav_text" id = "navbar_text_button">KingsWayFinder</h1>
        </div>

        <!-- content section -->
        <div class = "content">
            {% block content %}
            {%endblock%}
        </div>




        <!-- Footer section -->
        <div class = "footer">
            <div class = "contact_details">
                <p class = "footer_text">If you run into any problems or have any suggestions, please contact the webmaster at zach.hamilton@kingsway.school.nz</p>
            </div>
            


            <div>
                <p class = "footer_text">Copyright © 2026 &nbsp; &nbsp; &nbsp;Created By Zachary Hamilton</p>
            </div>
            

        </div>


        <script src="{{ url_for('static', filename='script.js') }}"></script>
    </body>
</html>