
<!-- base.html has block that can be overridden by putting differant html into blocks with the same name-->
{% extends "base.html" %} 

<!-- changes the title -->
{% block title %}<title>KingsWayFinder</title>{% endblock %}


<!-- changes what the pages content is / middle is -->
{% block content %}
    <div class = "content">
        <div class = "sidebar move_right" id = "left_sidebar">
            <div class = "sidebar_content">


                <!-- button that hides the sidebar when pressed -->
                <button class = "left_sidebar_button" id = "left_sidebar_close_button" ><abbr title = "Close Sidebar"><img class = "left_sidebar_button_image" src = "{{ url_for('static', filename='images/collapse_side_panal_left.svg') }}" alt = "Collapse left sidebar icon"></abbr></button>
                


                <!-- Finder -->

                <h2>Finder</h2>
                <br> <!-- make sure that useing br is a good thing to do !!!!!!!!-->

                <!-- When this input is typed into it highlight places on the map depending on what is typed in -->
                <input type = "text" placeholder = "Type code here" class = "finder_input" id = "finder_input">
                <br>
                <br>

                <!-- explains information about the map so that users can better understand it -->
                <h2> Room Code Key</h2>

                <div class = "table_div">

                    <!-- table explaining which letters correspond to each building -->
                    <table>
                        <thead>
                            <th> Building</th>
                            <th> Start Finder With the Letter</th>
                        </thead>

                        <tbody>
                            <tr><td>Allen</td> <td>A</td></tr>
                            <tr><td>Bolam</td><td>B</td></tr>
                            <tr><td>Arts Block</td><td>D</td></tr>
                            <tr><td>Event Centre / Gym</td><td>G</td></tr>
                            <tr><td>Te Kainga</td><td>K</td></tr>
                            <tr><td>Sanford</td><td>S</td></tr>
                        </tbody>

                    </table>

                    <!-- table that explains the conpanants of the room code -->
                    <table>
                        <thead>
                            <th>Part of code</th>
                            <th>Meaning</th>
                        </thead>

                        <tbody>
                            <tr><td>1st Letter</td> <td> Building</td></tr>
                            <tr><td>1st Number</td> <td> The floor level</td></tr>
                            <tr><td>2nd and 3rd Numbers</td> <td>The room's unique number on its floor</td></tr>
                            <tr><td>Letter at the End</td><td>The room is a connected side-room</td></tr>
                        </tbody>
                    </table>
                </div>
            </div>   
        </div>
        {% block map%}
        <div class = "map" id = "map">

            <!-- opens the left side pannel -->
            <button class = "left_sidebar_button hidden" id = "left_sidebar_open_button"><abbr title = "Open Sidebar"><img class = "left_sidebar_button_image" src = "{{ url_for('static', filename='images/open_side_panal_left.svg') }}" alt = "Open left side pannal icon"></abbr></button>

            <!-- creates the differant shapes for the buildings by making an svg and puting a polygon insided it with speicfic points to make differant points -->
            <svg class="polygon_container sanford_polygon_contianer" viewBox="0 0 100 100">
                <polygon class="polygon" id="sanford_polygon" points="5,34 28,2 75,23 80,16 94,22 83,41 35,20 27,30 30,32 21,44"></polygon>
            </svg>

            <svg class="polygon_container allen_polygon_contianer" viewBox="0 0 100 100" >
                <polygon class="polygon" id="allen_polygon" points="7,1 14,1 14,4 22,4 22,24 16,24 16,29 3,29 3,20 1,20 1,11 2,11 2,4 7,4"></polygon>
            </svg>

            <svg class="polygon_container bolam_polygon_contianer" viewBox="0 0 100 100" >
                <polygon class="polygon" id="bolam_polygon" points="13,1 27,1 27,26 23,26 23,29 5,29 7,27 4,25 2,27 0,25 13,15"></polygon>
            </svg>

            <svg class="polygon_container ec_polygon_contianer" viewBox="0 0 100 100" >
                <polygon class="polygon" id="ec_polygon" points="11,1 46,1 46,6 49,6 49,9 51,9 50,18 46,18 46,24 9,22 9,19 1,16 7,5 8,5 9,2 11,2"></polygon>
            </svg>

            <svg class="polygon_container te-kainga_polygon_contianer" viewBox="0 0 100 100" >
                <polygon class="polygon" id="te-kainga_polygon" points="34,2 33,14 40,15 43,22 47,25 49,29 49,37 44,44 39,42 33,38 27,35 19,32 9,31 1,31 1,28 3,26 3,23 1,21 1,18 3,16 3,13 1,11 1,8 3,6 3,3 1,1 1,0"></polygon>
            </svg>

            <svg class="polygon_container arts_polygon_contianer" viewBox="0 0 100 100">
                <polygon class="polygon" id="arts_polygon" points="30,20 27,25 24,23 22,26 18,23 19,22 7,13 1,13 1,4 4,1"></polygon>
            </svg>

            <svg class="polygon_container field_polygon_contianer" viewBox="0 0 100 100">
                <polygon class = "other_polygon" id = "field_polygon" points= "7, 0 4, 4 48, 23 63, 0"></polygon>
            </svg>

            <svg class="polygon_container cola_polygon_contianer" viewBox="0 0 100 100">
                <polygon class="other_polygon" id="cola_polygon" points= "39, 0 0, 0 0, 21 39, 21"></polygon>
            </svg>

            <svg class="polygon_container astro_polygon_contianer" viewBox="0 0 100 100">
                <polygon class="other_polygon" id="astro_polygon" points= "19, 0 0, 0 0, 31 19, 31"></polygon>
            </svg>
            
            
            
            <!-- labels for the buildings -->
             
            <h1 class = "building_label sanford_label">Sanford</h1>
            <h1 class = "building_label allen_label">Allen</h1>
            <h1 class = "building_label bolam_label">Bolam</h1>
            <h1 class = "building_label ec_label ">Event Centre</h1>
            <h1 class = "building_label te-kainga_label ">Te Kainga (Area)</h1>
            <h1 class = "building_label arts_label">Arts Block</h1>


            <!-- labels for other things on the map that aren't buildings-->
            <h2 class="other_label field_label" id = "field_label">Field</h2>
            <h2 class="other_label cola_label" id = "cola_label">Cola</h2>
            <h2 class="other_label astro_label" id = "astro_label">Astro</h2>
            <h2 class="other_label allen_quad_label">Allen Quad</h2>
            <h2 class="other_label office_label">Office</h2>
            <h2 class="other_label main_entrance_label">Main Entrance<br>100 Jelas Road</h2>
            <h2 class="other_label back_gate_label">Back Gate</h2>

            
            <!-- Measureing grid (Height) -->
            <!-- <div class="grid_box_10_H grid_box_height"></div>
            <div class="grid_box_20_H grid_box_height"></div>
            <div class="grid_box_30_H grid_box_height"></div>
            <div class="grid_box_40_H grid_box_height"></div>
            <div class="grid_box_50_H grid_box_height"></div>
            <div class="grid_box_60_H grid_box_height"></div>
            <div class="grid_box_70_H grid_box_height"></div>
            <div class="grid_box_80_H grid_box_height"></div>
            <div class="grid_box_90_H grid_box_height"></div> -->

                                    
            <!-- Measureing grid (Width) -->
            <!-- <div class="grid_box_10_W grid_box_width"></div>
            <div class="grid_box_20_W grid_box_width"></div>
            <div class="grid_box_30_W grid_box_width"></div>
            <div class="grid_box_40_W grid_box_width"></div>
            <div class="grid_box_50_W grid_box_width"></div>
            <div class="grid_box_60_W grid_box_width"></div>
            <div class="grid_box_70_W grid_box_width"></div>
            <div class="grid_box_80_W grid_box_width"></div>
            <div class="grid_box_90_W grid_box_width"></div> -->

            <!-- Measureing grid text (Height) -->
            <!-- <p class="grid_box_10_H_text grid_box_H_text">10%</p>
            <p class="grid_box_20_H_text grid_box_H_text">20%</p>
            <p class="grid_box_30_H_text grid_box_H_text">30%</p>
            <p class="grid_box_40_H_text grid_box_H_text">40%</p>
            <p class="grid_box_50_H_text grid_box_H_text">50%</p>
            <p class="grid_box_60_H_text grid_box_H_text">60%</p>
            <p class="grid_box_70_H_text grid_box_H_text">70%</p>
            <p class="grid_box_80_H_text grid_box_H_text">80%</p>
            <p class="grid_box_90_H_text grid_box_H_text">90%</p> -->

            <!-- Measureing grid text (Width) -->
            <!-- <p class="grid_box_10_W_text grid_box_W_text">10%</p>
            <p class="grid_box_20_W_text grid_box_W_text">20%</p>
            <p class="grid_box_30_W_text grid_box_W_text">30%</p>
            <p class="grid_box_40_W_text grid_box_W_text">40%</p>
            <p class="grid_box_50_W_text grid_box_W_text">50%</p>
            <p class="grid_box_60_W_text grid_box_W_text">60%</p>
            <p class="grid_box_70_W_text grid_box_W_text">70%</p>
            <p class="grid_box_80_W_text grid_box_W_text">80%</p>
            <p class="grid_box_90_W_text grid_box_W_text">90%</p> -->
            {% endblock map%}
           







        </div>


        







        
    </div>
{%endblock%}

