/* Styles for elements in all pages of the website */

* {
    box-sizing: border-box; /* fixes problem with padding where it extended the block more than 100%*/
    overflow-x: hidden; /* makes there be no unwanted scroll bars*/
    /* give createor full control over margins and paddings */
    margin: 0;
    padding:0;
}

/* sets margin to 0 so that i can manually add what I want */
body{
    display: flex;
    min-height: 100vh; /*helps the footer always be at the bottom*/
    flex-direction: column; /*makes the three main sections (nav bar, content, and footer go on top of each other rather then beside each other )*/
}



/* ------------------ */
/* Nav bar and footer */
/* ------------------ */

.nav{
    display: flex;
    align-items: center;
    justify-content: left;
    height: 70px;
    background-color: navy;
    padding: 0px 50px 0px 50px;
    border-bottom: 5px solid #FFD403;
}



.nav_text{
    font-family: sans-serif;
    color: white;
}



.footer {
    display: flex;
    align-items: center;
    justify-content: space-between; 
    font-family: sans-serif;
    border-radius: 5px;
    min-height: 40px; /* make sure that the footer doesn't get smaller then 40px so it looks nice however leave room for it to grow*/
    padding:1%;
    box-shadow: 0px 2px 5px rgba(0, 0, 128, 0.7); /* makes the footer look like its hovering above everything else*/
    margin-top: auto;  /* makes the footer always go to the bottom */
    margin-left: 0.25%;
    margin-right: 0.25%;
    margin-bottom: 0.25%;
}



/* ------- */
/* Sidebar */
/* ------- */



/*  */
.sidebar{
    width: 20%;
    border-radius: 2rem;
    height: 80vh;
    margin: 1.5%;
    box-shadow: 0px 2px 5px rgba(0, 0, 128, 0.7); /* makes th e sidebar look like its hovering above everything else*/
    padding: 2%;
    font-family: sans-serif;
}


.finder_input{
    padding: 1%;
    border-radius: 0.5rem;
    width:100%;
    font-size: 20px;
}

table{
    width:100%;
    border-radius: 1rem;
    border: 2px solid black; /*not working*/
    overflow: hidden;
    border-collapse: collapse;
}

th,td{
    padding:5%;
    text-align: left;
    border-bottom: 2px solid gray;
}

th{
    background-color: navy;
    color:white;
    font-weight: bold;
}

tr{
    background-color: #f3f3f3;
}

