/* ------- */
/* root    */
/* #region */

/* place to add variables */
:root{
    /* the top and left positions of all the buildings in the zoomed out map */
    --sanford_polygon_top     :   3.86%;  --sanford_polygon_left    :  -1.65%;
    --allen_polygon_top       :  48.78%;  --allen_polygon_left      :  12.50%;
    --bolam_polygon_top       :  51.76%;  --bolam_polygon_left      :  30.05%;
    --ec_polygon_top          :  22.35%;  --ec_polygon_left         :  52.70%;
    --te-kainga_polygon_top   :  47.57%;  --te-kainga_polygon_left  :  57.43%;
    --arts_polygon_top        :   1.34%;  --arts_polygon_left       :  73.98%;

    /* buildings labels top and left variables */
    --sanford_label_top       :  23.36%;  --sanford_label_left      :  25.82%;
    --allen_label_top         :  62.71%;  --allen_label_left        :  16.13%;
    --bolam_label_top         :  72.39%;  --bolam_label_left        :  35.11%;
    --ec_label_top            :  32.44%;  --ec_label_left           :  60.92%;
    --te-kainga_label_top     :  66.34%;  --te-kainga_label_left    :  59.71%;
    --arts_label_top          :   0.06%;  --arts_label_left         :  80.29%;

    /* other labels top and left variables*/
    --field_label_top         :   5.00%;  --field_label_left        :  32.00%;
    --cola_label_top          :   8.23%;  --cola_label_left         :  60.50%;
    --astro_label_top         :  62.71%;  --astro_label_left        :  49.42%;
    --allen_quad_label_top    :  42.13%;  --allen_quad_label_left   :  25.21%;
    --office_label_top        :  84.49%;  --office_label_left       :  28.84%;
    --main_entrance_label_top :  85.38%;  --main_entrance_label_left:  86.16%;
    --back_gate_label_top     :  51.81%;  --back_gate_label_left    :   1.00%;


    /* other polgons top and left variables*/
    --field_polygon_top      :   0.00%;  --field_polygon_left      :   13.50%;
    --cola_polygon_top       :   0.00%;   --cola_polygon_left      :   51.00%;
    --astro_polygon_top      :  48.00%;   --astro_polygon_left     :   46.50%;
}
/* #endregion */



* {
    box-sizing: border-box; /* fixes problem with padding where it extended the block more than 100%*/
    overflow-x: hidden; /* makes there be no unwanted scroll bars*/
    /* give createor full control over margins and paddings */
    margin: 0;
    padding:0;
}

body{
    display: flex; 
    min-height: 100vh; /*helps the footer always be at the bottom*/
    flex-direction: column; /*makes the three main sections (nav bar, content, and footer go on top of each other rather then beside each other )*/
}



/* ------------------ */
/* Nav bar and footer */
/* #region----------- */

.nav{
    display: flex;
    align-items: center;
    justify-content: left;
    height: 70px;
    background-color: navy;
    padding: 0px 50px 0px 50px;
    border-bottom: 5px solid #FFD403;
}



.nav_text{
    font-family: sans-serif;
    color: white;
}



.footer {
    display: flex;
    align-items: center;
    justify-content: space-between; 
    font-family: sans-serif;
    border-radius: 5px;
    min-height: 40px; /* make sure that the footer doesn't get smaller then 40px so it looks nice however leave room for it to grow*/
    padding:1%;
    box-shadow: 0px 2px 5px rgba(0, 0, 128, 0.7); /* makes the footer look like its hovering above everything else*/
    margin-top: auto;  /* makes the footer always go to the bottom */
    margin-left: 0.25%;
    margin-right: 0.25%;
    margin-bottom: 0.25%;
}

/* #endregion */


/* ------- */
/* content */
/* ------- */

.content{
    display: flex;
    flex-direction:row;
    width: 100%;
    flex: 1;
    align-items: flex-start;
}


/* ------- */
/* Sidebar */
/* #region */

.sidebar{
    width: 22%;
    min-width: 300px;
    border-radius: 24px;
    height: 80vh;
    margin: 1.5%;
    box-shadow: 0px 2px 5px rgba(0, 0, 128, 0.7); /* makes the sidebar look like its hovering above everything else*/
    padding: 1.5%;
    font-family: sans-serif;
    min-height: 500px;
}


.sidebar_content {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.finder_input{
    outline: none;
    border: 2px solid black;
    padding: 8px;
    border-radius: 12px;
    width:100%;
    font-size: 20px;
}

.left_sidebar_button{
    display: flex;
    justify-content: center;
    align-items: center;
    align-self:flex-end;
    width:50px;
    aspect-ratio: 1 / 1;
    border-radius: 40%;
    overflow: hidden;
    background-color: white;
}


.left_sidebar_button_image{
    width: 80%;
}

#left_sidebar_open_button{
    position: absolute;
    top:0%;
    left:0%;
}


/* #endregion */



/* ------------------ */
/* Classroom code Key */
/* #region------------*/





.table_div{
    flex: 1; /* makes the table div take up all remaining space*/ 
    overflow-y: scroll;
    margin-top: 5%;
    border-radius: 12px;
}

/* followed example table from https://www.youtube.com/watch?v=lXxEm9thbiQ */
table{
    width:100%;
    border-radius: 12px;
    overflow: hidden;
    border-collapse: collapse;
    margin-top: 5%;
}

/* styles each individual cell */
th,td{
    padding:5%;
    text-align: left;
}

/* style table head */
th{
    background-color: navy;
    color:white;
    font-weight: bold;
}
/* sytles table rows */
tr{
    background-color: #f3f3f3;
}

/* gets every second row and changes its background colour to a darker gray so that the table is more readable */
tr:nth-child(even){
    background-color: #e9e9e9;

}
/* #endregion */


/* ----------------------------------------------- */
/* Areas Map (shows buildings and notable locations)*/
/* #region ----------------------------------- */


.map{
    position: relative; /* enables absolute positioning inside the map*/
    overflow: hidden;
    aspect-ratio: 16 / 9; /* makes the map always in scale */
    flex: 1 0 auto; /* sets the width to fill full the flexbox content div however makes the height uneffected */
    margin: 1%;
    transition: width 0.3s ease-in;
    
}

/* ---------------------- */
/* #region polygons styles*/
.polygon_container{
    position: absolute;
    width: 57.5%; 
    aspect-ratio: 1 / 1; /* makes sure the the polygon containers stay a square to keep the shape of the buildings */
    overflow: visible; /* make the border visable */ 
    pointer-events: none; /* makes the hover feature on the buildings work better because the polygon container is very large and goes over other elements */
}

.polygon{
    width: 100%; 
    height: 100%;
    fill: white; /* background-color but for polygons */
    stroke: black;  /* border for polygons */
    stroke-width: 0.3%;  /* border width for polygons */
    transition: transform 0.3s ease, fill 0.3s ease; /* makes the transition smooth */
    pointer-events: auto; /* makes the hover feature work because its parent has pointer-events: none; */
    transform-origin: center center; /* makes the polygon expand from the center */
    transform-box: fill-box; /* also makes the polygon expand from the center */
}

/* changes the colour and size when hovered over */
.polygon:hover{
    fill: rgb(173, 216, 230, 0.5);
    transform: scale(1.03);
}

/* formates the shapes that aren't buildings */
.other_polygon{
    width: 100%;
    height: 100%;
    fill: white;
    transition: transform 0.3s ease, fill 0.3s ease;
    pointer-events: auto;
    transform-origin: center center;
    transform-box: fill-box;
}

/* makes them have the same hover effect as the .polygon's */
.other_polygon:hover{
    fill: rgb(173, 216, 230, 0.5);
    transform: scale(1.03);
}
/* #endregion polygons */


/* -------------------- */
/* #region label styles */
/* styles that labels for the building */
.building_label{
    position: absolute;
    font-size: 1.8vw; /* sets the label so that they change height based of screen width so that they remain the same scale compaired with the buildings*/
    font-family: sans-serif;
    pointer-events: none;
}

/* styles the other labels */
.other_label{
    position: absolute;
    font-size: 1.5vw;
    font-family: serif;
    color: grey;
    pointer-events: none;
}

#field_label{
    color: black;
    font-family: sans-serif;
}

#cola_label{
    color: black;
    font-family: sans-serif;
}

#astro_label{
    color: black;
    font-family: sans-serif;
}

/* makes the label always 2 lines instead of somtimes changing to 4 */ 
.main_entrance_label{
    font-size: 1.185vw; 
}

/* #endregion */


/* ---------------------------------- */
/* #region polygon and label position */
/* sets the positions of the buildings in the areas map */
.sanford_polygon_contianer   { top: var(--sanford_polygon_top);   left: var(--sanford_polygon_left);}
.allen_polygon_contianer     { top: var(--allen_polygon_top);     left: var(--allen_polygon_left);}
.bolam_polygon_contianer     { top: var(--bolam_polygon_top);     left: var(--bolam_polygon_left);}
.ec_polygon_contianer        { top: var(--ec_polygon_top);        left: var(--ec_polygon_left);}
.te-kainga_polygon_contianer { top: var(--te-kainga_polygon_top); left: var(--te-kainga_polygon_left);}
.arts_polygon_contianer      { top: var(--arts_polygon_top);      left: var(--arts_polygon_left);}

/* other polygons positions */
.field_polygon_contianer     { top: var(--field_polygon_top);      left: var(--field_polygon_left); }
.cola_polygon_contianer      { top: var(--cola_polygon_top);       left: var(--cola_polygon_left);}
.astro_polygon_contianer     { top: var(--astro_polygon_top);      left: var(--astro_polygon_left);}



/* sets the positions of the labels */
.sanford_label   { top: var(--sanford_label_top);   left: var(--sanford_label_left); }
.allen_label     { top: var(--allen_label_top);     left: var(--allen_label_left); }
.bolam_label     { top: var(--bolam_label_top);     left: var(--bolam_label_left); }
.ec_label        { top: var(--ec_label_top);        left: var(--ec_label_left); }
.te-kainga_label { top: var(--te-kainga_label_top); left: var(--te-kainga_label_left); }
.arts_label      { top: var(--arts_label_top);      left: var(--arts_label_left); }


/* sets the positions of the labels */
.field_label          { top: var(--field_label_top);          left: var(--field_label_left); }
.cola_label           { top: var(--cola_label_top);           left: var(--cola_label_left); }
.astro_label          { top: var(--astro_label_top);          left: var(--astro_label_left); }
.allen_quad_label     { top: var(--allen_quad_label_top);     left: var(--allen_quad_label_left); }
.office_label         { top: var(--office_label_top);         left: var(--office_label_left); }
.main_entrance_label  { top: var(--main_entrance_label_top);  left: var(--main_entrance_label_left); }
.back_gate_label      { top: var(--back_gate_label_top);      left: var(--back_gate_label_left); }

/* #endregion */

/* #endregion */



/* ===================== */
/* JS toggleable classes */
/* #region============== */

/* everything with the hidden class will not be visable or clickable */
.hidden {
    display: none;
}


/* everything that is given this class will highlight */
.highlighted{
    fill: rgb(154, 205, 50, 0.5);
}

.highlighted:hover{
    fill: rgb(154, 205, 50);
}

/* #endregion */



/* -------- */
/* grid_box */
/* #region */

/* for development */
.grid_box_width{
    position: absolute;
    border: 2px solid blue;
    top:0%;
    pointer-events: none;
}

.grid_box_W_text{
    position: absolute;
    color: blue;
}

.grid_box_height{
    position: absolute;
    border: 2px solid red;
    top:0%;
    pointer-events: none;
}

.grid_box_H_text{
    position: absolute;
    color: red;
}

.grid_box_10_W { width: 10%; height: 100%; }
.grid_box_20_W { width: 20%; height: 100%; }
.grid_box_30_W { width: 30%; height: 100%; }
.grid_box_40_W { width: 40%; height: 100%; }
.grid_box_50_W { width: 50%; height: 100%; }
.grid_box_60_W { width: 60%; height: 100%; }
.grid_box_70_W { width: 70%; height: 100%; }
.grid_box_80_W { width: 80%; height: 100%; }
.grid_box_90_W { width: 90%; height: 100%; }

.grid_box_10_H { width: 100%; height: 10%; }
.grid_box_20_H { width: 100%; height: 20%; }
.grid_box_30_H { width: 100%; height: 30%; }
.grid_box_40_H { width: 100%; height: 40%; }
.grid_box_50_H { width: 100%; height: 50%; }
.grid_box_60_H { width: 100%; height: 60%; }
.grid_box_70_H { width: 100%; height: 70%; }
.grid_box_80_H { width: 100%; height: 80%; }
.grid_box_90_H { width: 100%; height: 90%; }

.grid_box_10_W_text { top: 1%; left: 11%; }
.grid_box_20_W_text { top: 1%; left: 21%; }
.grid_box_30_W_text { top: 1%; left: 31%; }
.grid_box_40_W_text { top: 1%; left: 41%; }
.grid_box_50_W_text { top: 1%; left: 51%; }
.grid_box_60_W_text { top: 1%; left: 61%; }
.grid_box_70_W_text { top: 1%; left: 71%; }
.grid_box_80_W_text { top: 1%; left: 81%; }
.grid_box_90_W_text { top: 1%; left: 91%; }

.grid_box_10_H_text { top: 11%; left: 1%; }
.grid_box_20_H_text { top: 21%; left: 1%; }
.grid_box_30_H_text { top: 31%; left: 1%; }
.grid_box_40_H_text { top: 41%; left: 1%; }
.grid_box_50_H_text { top: 51%; left: 1%; }
.grid_box_60_H_text { top: 61%; left: 1%; }
.grid_box_70_H_text { top: 71%; left: 1%; }
.grid_box_80_H_text { top: 81%; left: 1%; }
.grid_box_90_H_text { top: 91%; left: 1%; }

/* #endregion */



@media screen and (max-width: 850px) { 
}



/* makes the sidebar and map go ontop of each other */
/* .content{   */
    /* flex-direction:column; */
/* } */

/* since the map is the only thing horizonally it should take up the whole screen */
/* .map{ */
    /* width: 100%; is 125% because the left side of the map is white space and size the screen is small it is good to maximise the map area */
/* } */






/* makes the sidebar take up the whole width of the bottom of the screen */
/* .sidebar{ */
    /* order: 2; makes the sidebar under the map */
    /* width: 97%;  */
    /* height: auto; */
/* } */

/* #left_sidebar_open_button{ */
    /* position: absolute; */
    /* top:75%; */
    /* z-index: 5; */
/* } */




/* makes the building and other labels more readable */
/* .building_label{ */
    /* font-size: 2.8vw; */
/* } */

/* .other_label{ */
    /* font-size: 2.5vw; */
/* } */

/* .left_sidebar_button_image{ */
    /* transform: rotate(-90deg) */
/* } */